h1{
	color:#7828f2;
}
p{
	color: yellow;
	font-size: larger;
}
body{
	text-align: center;
	font-family: sans-serif;
	background-color: rgb(20, 204, 128);
}

.column{
	background-color: rgb(0, 0, 0);
	float: left;
	width: auto;
	min-width: 200px;
	border: 5px;
	border-top-width: 8px;
	border-bottom-color: black;
	border-style: double none ridge none;
	box-shadow: 6px 6px 1px #7828f2;
	padding-left: 4%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 30px;
	margin-right: 5%;
	margin-bottom: 20px;
	border-radius: 40%;
	box-sizing: border-box;
}
#col_1{
	margin-left: 10%;
	color: yellow;
}
#col_2{
	margin-right: 4%;
}
.projectList{
	box-sizing: content-box;
	width:auto;
	height:auto;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
}
.aboutProject{
	padding-right: 5%;
	padding-left: 5%;
	text-align: left;
}
li{
	margin-bottom: 5px;
	border-width: 1;
	border: 1px;
	border-bottom: 2px;
	border-style: none none solid none;
}
#listItem_1{
	border-color:black;
}
#aboutProject_ul{
	list-style: decimal;
}
.personalProjectList{
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	color: yellow
}
.personalProjectAbout{
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	color: yellow;
}

h4{
	clear:both;
	margin:auto;
	background-color: #7828f2;
	width: 40px;
	padding: 10px;
	border-radius: 20%;
	margin-bottom: 30px;
}
#sad-me.jpg{
    size-adjust: 200px;
}
#sad-meInfo{
	font-weight: 500;
	font-size: 15px;
}
.aboutMeColumn{
	margin-left: 10%;
	float: left;
	width: 20%;
	min-width: 250px;
	background-color: #7828f2;
	border-radius: 20%;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
	box-sizing: border-box;
}
#blurb{
	font-weight: 600;
	margin-bottom: 20px;
}
h5{
	font-size: 20px;
}
#background{
	text-align: center;
}
#hobbiesandthings{
	list-style: none;
	text-align: center;
	padding-right: 40px;
	margin: auto;
}
.hobbiesandthingsLi{
	border-style: none;
}
#skills{
	list-style: none;
	text-align: center;
	padding-right: 30px;
	margin: auto;
}
.skillsLi{
	border-style: none;
}
img{
	max-width: 300px;
	height: auto;
}
